<header class="cabecera">
    <nav>
        <img src="img/ninjalogo.png" alt="Raton ninja" class="menu-img">
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <!--<li><a href="/estadisticas">Estadisticas</a></li>
            <li><a href="/control">Control</a></li>-->
            <li><a href="/registro">Registro</a></li>
            <li><a href="/logout">Cerrar sesion</a></li>
        </ul>
    </nav>
</header>
<img src="img/borgar.png" class="bg2 borgar" alt="Icono para abrir el menu">